<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <script>
      const password = "varun_aaron";
      const user = prompt("Enter password:");
      if (user !== password) {
        document.body.innerHTML = "Access denied";
      }
    </script>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    <script id="dsq-count-scr" src="//pacerswithprettyfeet.disqus.com/count.js" async></script>

  </body>

</html>
